<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V17</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
</head>
<body>


<nav class="navbar-fixed-top colored-nav">
        <input id="nav-toggle" type="checkbox">
        <div class="logo">SITENAME</div> 
        <ul class="navlinks">
            <li> <a href="index.html"> HOME </a> </li>
            <li> <a href="#"> BOOKS </a> </li>
            <li> <a href="#"> FUN </a> </li>
            <li> <a href="about.html"> ABOUT </a> </li>
            <li> <a href="contact.html"> CONTACT </a> </li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
	<br>
	<br>
	<br>
	

	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Send Us A Message
				</span>

				<label class="label-input100" for="first-name">Tell us your name *</label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<input id="first-name" class="input100" type="text" name="fname" placeholder="First name">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<input class="input100" type="text" name="lname" placeholder="Last name">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Enter your email *</label>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone">Enter phone number</label>
				<div class="wrap-input100">
					<input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Message *</label>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button id="contact100-form-btn">
						Send Message
					</button>
				</div>
			</form>

			<div class="contact100-more flex-col-c-m" style="background-image: url('Images/bg-01.jpg');">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

						<span class="txt2">
							Raheem Boys Hostel Gautam Buddha University
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

						<span class="txt3">
							+91 9205959789
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							General Support
						</span>

						<span class="txt3">
							projectcse2023@gmail.com
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!-- FOOTER-->

<footer>	
    <div class="main_footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-12">
                    <div class="footer_box">
                        <!--<a href="#"><img src="yahan koi logo decide krna hai "></a>-->
                        <p>Yahan kuch likhna hai mast saa</p>
                        <p>Mast sii line britisher's se puchni pdegi</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="footer_box">
                        <h2>Quick Links</h2>
                        <hr>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Fun</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 our-services-footer">
                    <div class="footer_box">
                        <h2>Our Services</h2>
                        <hr>
                        <ul>
                            <li><a href="GATE.html">GATE</a></li>
                            <li><a href="Cat.html">CAT</a></li>
                            <li><a href="Clat.html">CLAT</a></li>
                            <li><a href="Jee.html">JEE MAINS</a></li>
                            <li><a href="neet.html">NEET</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 get-in-touch-footer">
                    <div class="footer_box">
                        <h2>Get in Touch</h2>
                        <hr>
                        <div class="footer_address">
                            <h6><a href=""><i class="fa fa-map-marker"></i> Raheem Boys Hostel</a></h6>
                            <h6><a href="tel:+919205959789"><i class="fa fa-phone"></i> Kiska number likhun yahan par</a></h6>
                            <h6><a href="mailto:cseproject2023@gmail.com"><i class="fa fa-envelope"></i> cseproject2023@gmail.com</a></h6>
                        </div>
                        <div class="footer_socialicons">
                            <ul>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript" src="Js/app.js"></script>

<script>

   var preloader = document.getElementById('loading');
   function myFunction()
   {
       preloader.style.display = 'none';
	}
	function submitEmailForm(form) 
	{
		var obj = new XMLHttpRequest();
		obj.onreadystatechange = function(){
			if(obj.readyState == 4){
				if(obj.status == 200){
					var res = JSON.parse(obj.responseText);
					alert(res.message);
				}
				else{
					alert("XMLHttp status " + obj.status + ": " + obj.statusText);
				}
			}
		};
		obj.open("post", form.action, true);
		obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
		obj.send(JSON.stringify({ name: form.fname.value, last_name: form.lname.value, email: form.email.value, phone: form.phone.value, message: form.message.value }));
		return false;
	}   
</script> 


	
</body>
</html>
