<%- include("../../partials/header") %>

   <div class="cse-animation-1">
       <div class="cse-animation-1-item">
           <img src="../images/Cs1.jpeg">
           <div class="cse-animation-1-item-text">
               <h5>Quiz</h5>
               <a href="#">
                <p> Wanna do some questions.</p>  
               </a>
            </div>  
       </div>

       
        <div class="cse-animation-1-item">
            <img src="../images/Cs2.jpg">
            <div class="cse-animation-1-item-text">
                <h5>Quiz</h5>
                <a href="#">
                 <p> Wanna do some questions.</p>  
                </a>
             </div>  
        </div>

        
            <div class="cse-animation-1-item">
                <img src="../images/Cs3.png">
                <div class="cse-animation-1-item-text">
                    <h5>Quiz</h5>
                    <a href="#">
                     <p> Wanna do some questions.</p>  
                    </a>
                 </div>  
            </div>     
   </div>


   <section class="cse-bookheading">
    <h1>GATE-CSE/IT</h1>
  </section>

  <section class="cse-subjects">
    <h3>Engineering Mathematics</h3>
  </section>

 <div class="cse-bookbox">
    <div class="cse-boxes"><img src="../images/MA1.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/MA2.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/MA3.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/MA4.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/MA5.jpg" alt="" ></div> 
    </div>

 <section class="cse-subjects">
    <h3> Programming and Data Structures</h3>
  </section>

  <div class="cse-bookbox">
    <div class="cse-boxes"><img src="../images/CP1.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CP2.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CP3.jpeg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CP4.jpeg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CP5.jpg" alt="" ></div> 
    </div>

 <section class="cse-subjects">
    <h3> Algorithms</h3>
 </section>

 <div class="cse-bookbox">
    <div class="cse-boxes"><img src="../images/ALG1.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/ALG2.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/ALG3.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/ALG4.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/ALG5.jpg" alt="" ></div> 
    </div>

<section class="cse-subjects">
    <h3> Compiler Design</h3>
 </section>

 <div class="cse-bookbox">
    <div class="cse-boxes"><img src="../images/CO1.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CO2.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CO3.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CO4.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/CO5.jpg" alt="" ></div> 
    </div>
 
<section class="cse-subjects">
    <h3>Operating System</h3>
 </section>

 <div class="cse-bookbox">
    <div class="cse-boxes"><img src="../images/OS1.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/OS2.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/OS3.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/OS4.jpg" alt="" ></div>
    <div class="cse-boxes"><img src="../images/OS5.jpg" alt="" ></div> 
    </div> 

<%- include("../../partials/footer") %>