<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/buy.css"> 
    <title>buy</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"/>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body> 
        <br>
        <br>
        <br>
         <div class="buy-img"><img  src="../images/AD1.jpg" alt="image"></div>
         <div class="buy-container">
         <h1 class="sub-heading">Quantitative Aptitude</h1>
         <h3 class="book-heading">How to Prepare for Quantitative Aptitude for the CAT </h3>
         <h2 class="book-author">By Arun Sharma </h2>
         <h3 class="book-price">$1478.7</h3>
        <p class="stock-status">Seller : amazon </p>
        <br> 
        <button id="but-1">Buy Now</button>        
              
       <!-- yahaan pr product info ka code aayegya space chod dena uske liye  -->
           
         <p class="product-info"> Product Info  <span class="plus"> + </span>
            <br>
        <span class="more-info">Lorem ipsum dolor sit amet consectetur adipisic
            ing elit. Harum tempore explicabo tenetur, unde molestias ipsum voluptatum
            rem laboriosam earum alias repudiandae eveniet dolor adipisci, quo quia! Iure 
            expedita aperiam odit quisquam veniam omnis explicabo, iste, repellendus inven
            tore dolore, tempore tenetur dolorem vitae repellat molestias quo a consequuntu
            r nam commodi!</span> </p> 
            
        
        </div>
		
				<section>
    <div class="container">
        <div class="section-title">
            <h2>REVIEWS</h2>
            <span class="section-separator"></span>
            <p>We are providing the best books to the users</p>
        </div>
    </div>
    <div class="testimonials-carousel-wrap">
        <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
        <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
        <div class="testimonials-carousel">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="21.jpg"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                            <div class="testimonials-text">
                                
                                <p>Yahan 1st vale ka review aa jaiga</p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>John Doe</h3>
                    
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                        </div>
                    </div>

                    <!--second--->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="3.jpg"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                            <div class="testimonials-text">
                        
                                <p>Yahan 2nd vale kaa</p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>Doe Boe</h3>
                                    
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                        </div>
                    </div>
                    <!--third-->

                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="4.jpg"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                            <div class="testimonials-text">
                                
                                <p>Yahan 3rd vale kaa</p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>Boe Doe</h3>
                                    
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                        </div>
                    </div>

                    <!--fourth-->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="testi-avatar"><img src="6.jpg"></div>
                            <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div>
                            <div class="testimonials-text">
                               
                                <p>Yahan 4th</p>
                                <a href="#" class="text-link"></a>
                                <div class="testimonials-avatar">
                                    <h3>Doe John</h3>
                                    
                                </div>
                            </div>
                            <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div> 
                        </div>
                    </div>
                    <!--testi end-->

                </div>
            </div>
        </div>

        <div class="tc-pagination"></div>
    </div>
</section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
        <script src="../js/buy.js"> </script>
        </body>
        </html>