<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/show.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/landing.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/cat.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/civil.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/clat.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/cse.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/electrical.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/electronics.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/gate.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/jee.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/mechanical.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/nda.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/neet.css">

	
	<title>Home</title>
</head>
<body onload="myFunction()">

<!-- Preloader-->

<div id="loading"></div>
	

<!-- NAVBAR-->

<nav class="navbar-fixed-top" >
    <input id="nav-toggle" type="checkbox">
    <div class="logo"><a href="/">EverGreen Educado</a></div>
    <ul class="navlinks">
        <li> <a href="/"> HOME </a> </li>
        <li> <a href="#"> BOOKS </a> </li>
        <li> <a href="#"> FUN </a> </li>
        <li> <a href="/about-us"> ABOUT </a> </li>
        <li> <a href="/contact-us"> CONTACT </a> </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>
	