<%- include("../../partials/header") %>

   <div class="electrical-animation-1">
       <div class="electrical-animation-1-item">
           <img src="../images/SL3.jpg">
           <div class="electrical-animation-1-item-text">
               <h5>Quiz</h5>
               <a href="#">
                <p> Wanna do some questions.</p>  
               </a>
            </div>  
       </div>

       
        <div class="electrical-animation-1-item">
            <img src="../images/SL2.jpg">
            <div class="electrical-animation-1-item-text">
                <h5>Quiz</h5>
                <a href="#">
                 <p> Wanna do some questions.</p>  
                </a>
             </div>  
        </div>

        
            <div class="electrical-animation-1-item">
                <img src="../images/SL1.png">
                <div class="electrical-animation-1-item-text">
                    <h5>Quiz</h5>
                    <a href="#">
                     <p> Wanna do some questions.</p>  
                    </a>
                 </div>  
            </div>     
   </div>


   <section class="electrical-bookheading">
    <h1>ELECTRICAL</h1>
  </section>

  <section class="electrical-subjects">
    <h3> ELECTRICAL CIRCUIT </h3>
  </section>

 <div class="electrical-bookbox">
    <div class="electrical-boxes"><img src="../images/ELE1.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/ELE2.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/ELE3.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/ELE4.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/ELE5.jpg" alt="" ></div> 
    </div>

 <section class="electrical-subjects">
    <h3>POWER ELECTRONICS</h3>
  </section>

  <div class="electrical-bookbox">
    <div class="electrical-boxes"><img src="../images/PE1.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PE2.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PE3.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PE4.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PE5.jpg" alt="" ></div> 
    </div>

 <section class="electrical-subjects">
    <h3>POWER SYSTEM</h3>
 </section>

 <div class="electrical-bookbox">
    <div class="electrical-boxes"><img src="../images/PS1.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PS2.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PS3.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PS4.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/PS5.jpg" alt="" ></div> 
    </div>
	
	<section class="electrical-subjects">
    <h3>SIGNALS AND SYSTEMS</h3>
 </section>

 <div class="electrical-bookbox">
    <div class="electrical-boxes"><img src="../images/SAS1.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/SAS2.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/SAS3.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/SAS4.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/SAS5.jpg" alt="" ></div> 
    </div>
	
	<section class="electrical-subjects">
    <h3>MATHS</h3>
 </section>

 <div class="electrical-bookbox">
    <div class="electrical-boxes"><img src="../images/MA1.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/MA2.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/MA3.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/MA4.jpg" alt="" ></div>
    <div class="electrical-boxes"><img src="../images/MA5.jpg" alt="" ></div> 
    </div>

<%- include("../../partials/footer") %>