.buy-container{
    padding: 0px;
    margin: 0;
}

.buy-img{
    display: block;
    box-align:left;
    float:left;
    background-color: #cecece36;
    height: 300px;
    width: 240px;
    padding:70px;
}
.buy-img img{
    height: 300px;
    width: 230px;
}
.sub-heading {
    position: relative;
    font-family:'Inter',sans-serif;
    color:darkcyan;
    font-size: 30px;  
}
.book-author {
    font-family:'Inter',sans-serif;
    color:indianred;
    font-size: 25px;  
}

.book-heading {
  font-family: 'Inter',sans-serif;
  font-size: 22px; 
  color: darkgreen;
}
.book-price {
    font-family: 'Inter',sans-serif;
    font-size: 22px; 
    color: darkgreen;
}

.stock-status{
    font-family: 'Inter',sans-serif;
    font-size: 21px;
    color:lightgreen; 
}

/* -----------------------Buy Button------------------------------ */
/* -----------------------Buy Button------------------------------ */


 #but-1{
    background:purple;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:22px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-family:'Inter',sans-serif;
  }
  #but-1:hover{
    background:#fff;
    color:#1AAB8A;
  }
  #but-1:before,#but-1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:800ms ease all;
  }
  #but-1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #but-1:hover:before,#but-1:hover:after{
    width:100%;
    transition:1500ms ease all;
  }


/* --------------------------Product Info------------------------------ */
/* --------------------------Product Info------------------------------ */

.product-info{
    font-size:22px;
    background-color: papayawhip;
    color: rebeccapurple;
    font-family:'Inter',sans-serif;
    z-index: 100;
    padding: 5px;
    padding-top: 8px;
}
.more-info{
   display: none;
}
.product-info.showmore .more-info{
    display: block;
    background-color: papayawhip;
}
.plus{
    font-size: 30px;
    cursor:pointer;
    float: right;
}






@media screen and (max-width: 768px){
    .buy-container{
        float: left;
        width: 100%;
        text-align: left;
        padding-left: 30px;
    }
    .buy-img{
        height: 40vh;
        width: 50vw;
        margin-left: 8vw;
    }
    .sub-heading {
        text-align: left;
        margin-right: 0px;
    }
    .book-author {
        text-align: left;
        padding-right: 0px;
    }
    .book-heading {
        text-align:left;
        padding-right: 0px;
    }
    .stock-status{
    text-align:left;
    margin-right: 0px;
    }
    #but-1{
    width: 300px;
    padding:0px;
    }
   .product-info{
    width: 300px;
    padding:0px;
    }
    .buy-img img{
        height: 340px ;
        width: 200px;
    }
}

@media screen and (min-width: 770px){
    .buy-container{
        float: right;
        width: 55%;
        text-align: left;
    }
    .buy-img{
        margin-left:120px;  
    }
    #but-1{
    width: 550px;
    text-align: center;
    padding:8px;
}
.product-info{
    width: 540px;
}

}

/* Reviews */

    .xyz{
        height: 80vh;
    }
	.rbs{
		font-size:30px;
	}
