<%- include("../../partials/header") %>

    <div class="mechanical-slideshow">
        <div class="mechanical-slideshow-item">
            <img src="../images/gm1.jpg">
            <div class="mechanical-slideshow-item-text">
            <h5>Quiz</h5>
            <a href="#">
                 <p> Wanna do some questions.</p>  
                </a>
            </div>
        </div>
        <div class="mechanical-slideshow-item">
            <img src="../images/gm2.jpg">
            <div class="mechanical-slideshow-item-text">
            <h5>exams</h5>
            <a href="#">  
                 <p> Wanna do some questions.</p>
                 </a> 
            </div>
        </div>
        <div class="mechanical-slideshow-item">
            <img src="../images/gm3.jpg">
            <div class="mechanical-slideshow-item-text">
            <h5>website</h5>
            <a href="#">
                 <p> Wanna do some questions.</p>  
                </a> 
            </div>
        </div>
    </div>

    <section class="mechanical-bookheading">
        <h1> GATE-MECHANICAL</h1>
    </section>
        
    <section class="mechanical-subjects">
        <h2> ENGINEERING MATHEMATICS</h2>
    </section>
    <div class="mechanical-bookbox">
    <div class="mechanical-boxes"><img src="../images/MA1.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/MA2.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/MA3.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/MA4.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/MA5.jpg" alt="" ></div> 
    </div>

    <section class="mechanical-subjects">
        <h2> APPLIED MECHANICS and DESIGN</h2>
    </section>
    <div class="mechanical-bookbox">
    <div class="mechanical-boxes"><img src="../images/gmm1.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmm2.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmm3.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmm4.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmm5.jpg" alt="" ></div> 
    </div>

    <section class="mechanical-subjects">
        <h2> FLUID MECHANICS and THERMAL SCIENCES </h2>
    </section>
    <div class="mechanical-bookbox">
    <div class="mechanical-boxes"><img src="../images/gmmm1.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmmm2.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmmm3.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmmm4.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gmmm5.jpg" alt="" ></div> 
    </div>

    <section class="mechanical-subjects">
        <h2> MATERIALS, MANUFACTURING, and INDUSTRIAL ENGINEERING </h2>
    </section>
    <div class="mechanical-bookbox">
    <div class="mechanical-boxes"><img src="../images/gom1.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gom2.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gom3.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gom4.jpg" alt="" ></div>
    <div class="mechanical-boxes"><img src="../images/gom5.jpg" alt="" ></div> 
    </div>

<%- include("../../partials/footer") %>