<%- include("../partials/header") %>

   <div class="neet-animation-1">
       <div class="neet-animation-1-item">
           <img src="../images/NEET.jpg">
           <div class="neet-animation-1-item-text">
               <h5>Quiz</h5>
               <a href="#">
                <p> Wanna do some questions.</p>  
               </a>
            </div>  
       </div>

       
        <div class="neet-animation-1-item">
            <img src="../images/NEET2.jpg">
            <div class="neet-animation-1-item-text">
                <h5>Quiz</h5>
                <a href="#">
                 <p> Wanna do some questions.</p>  
                </a>
             </div>  
        </div>

        
            <div class="neet-animation-1-item">
                <img src="../images/NEET3.jpg">
                <div class="neet-animation-1-item-text">
                    <h5>Quiz</h5>
                    <a href="#">
                     <p> Wanna do some questions.</p>  
                    </a>
                 </div>  
            </div>     
   </div>


   <section class="neet-bookheading">
    <h1>NEET</h1>
  </section>

  <section class="neet-subjects">
    <h3>PHYSICS</h3>
  </section>

 <div class="neet-bookbox">
    <div class="neet-boxes"><img src="../images/jp1.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jp2.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jp3.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jp4.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jp5.jfif" alt="" width="225px" height="195px"></div>  
    </div>

 <section class="neet-subjects">
    <h3> CHEMISTRY </h3>
  </section>

  <div class="neet-bookbox">
    <div class="neet-boxes"><img src="../images/jc1.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jc2.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jc3.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jc4.jfif" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jc5.jfif" alt="" width="225px" height="195px"></div> 
    </div>

 <section class="neet-subjects">
    <h3> BIOLOGY </h3>
 </section>

 <div class="neet-bookbox">
    <div class="neet-boxes"><img src="../images/jb1.jpg" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jb2.jpg" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jb3.jpg" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jb4.jpg" alt="" width="225px" height="195px"></div>
    <div class="neet-boxes"><img src="../images/jb5.jpg" alt="" width="225px" height="195px"></div>  
    </div>

<%- include("../partials/footer") %>