<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/buy.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    </head>
    
    <body> 
        <br>
        <br>
        <br>
        <img src="arun.jpg" alt="image">
         <h1 class="sub-heading">Quantitative Aptitude</h1>
         <h3 class="book-heading">How to Prepare for Quantitative Aptitude for the CAT </h3>
         <h2 class="book-author">By Arun Sharma</h2>
         <h3 class="book-price">$1478.7</h3>
        <p class="stock-status">Seller : amazon </p>
        <br>
        <div id="but-1"> 
        <button>Buy Now</button>        
        <br>
        </div>
        <br>        
       <!-- yahaan pr product info ka code aayegya space chod dena uske liye  -->
        <br>
        
    
        

    </body>    



</html>    