<%- include("../partials/header") %>

   <div class="nda-animation-1">
       <div class="nda-animation-1-item">
           <img src="../images/N1.jpg">
           <div class="nda-animation-1-item-text">
               <h5>Quiz</h5>
               <a href="#">
                <p> Wanna do some questions.</p>  
               </a>
            </div>  
       </div>

       
        <div class="nda-animation-1-item">
            <img src="../images/N2.png">
            <div class="nda-animation-1-item-text">
                <h5>Quiz</h5>
                <a href="#">
                 <p> Wanna do some questions.</p>  
                </a>
             </div>  
        </div>

        
            <div class="nda-animation-1-item">
                <img src="../images/N3.jpg">
                <div class="nda-animation-1-item-text">
                    <h5>Quiz</h5>
                    <a href="#">
                     <p> Wanna do some questions.</p>  
                    </a>
                 </div>  
            </div>     
   </div>


   <section class="nda-bookheading">
    <h1>NDA</h1>
  </section>

  <section class="nda-subjects">
    <h3>English</h3>
  </section>

 <div class="nda-bookbox">
    <div class="nda-boxes"><img src="../images/E1.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/E2.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/E3.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/E4.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/E5.jpg" alt="" ></div> 
    </div>

 <section class="nda-subjects">
    <h3>Mathematics</h3>
  </section>

  <div class="nda-bookbox">
    <div class="nda-boxes"><img src="../images/M1.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/M2.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/M3.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/M4.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/M5.jpg" alt="" ></div> 
    </div>

 <section class="nda-subjects">
    <h3>General Awareness</h3>
 </section>

 <div class="nda-bookbox">
    <div class="nda-boxes"><img src="../images/G1.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/G2.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/G3.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/G4.jpg" alt="" ></div>
    <div class="nda-boxes"><img src="../images/G5.jpg" alt="" ></div> 
    </div>


    <section class="nda-subjects">
        <h3> ALL IN ONE</h3>
    </section>
    <div class="nda-bookbox">
        <div class="nda-boxes"><img src="../images/AL1.jpg" alt="" ></div>
        <div class="nda-boxes"><img src="../images/AL2.jpg" alt="" ></div>
        <div class="nda-boxes"><img src="../images/AL3.jpg" alt="" ></div>
        <div class="nda-boxes"><img src="../images/AL4.jpg" alt="" ></div>
        <div class="nda-boxes"><img src="../images/AL5.jpg" alt="" ></div>
        <span id="dots">.</span> 
        <span id="more">
            <div class="nda-morebox">
          <div class="nda-boxes"><img src="../images/AL6.jpg" alt="" ></div>
          <div class="nda-boxes"><img src="../images/AL7.jpg" alt="" ></div>
          <div class="nda-boxes"><img src="../images/AL8.jpg" alt="" ></div>
          <div class="nda-boxes"><img src="../images/AL9.jpg" alt="" ></div>
          <div class="nda-boxes"><img src="../images/AL10.jpg" alt="" ></div>
          <div class="nda-boxes"><img src="../images/AL11.jpg" alt="" ></div>
          <div class="nda-boxes"><img src="../images/AL12.jpg" alt="" ></div></div></span>
    </div>
    
    <button class="nda-shbtn" onclick="myFunction()" id="myBtn">Suggest more</button>

<%- include("../partials/footer") %>